/* estilos del portafolio */

.row {
    padding-bottom: 1.5em;
    background-color: aqua;
}

#roww {
    margin-right: 0;
    margin-left: 0;
}

#Kevin {
    height: 100%;
}

.KevinYauza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;
}

.cabeza-principal {
    margin-bottom: 1.5em;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.cabeza-principal li {
    list-style-type: none;
}

.cuerpo-principal {
    margin: 10px 0;
    text-align: center;
    background-color: #5DADE2;
}

.cuerpo-principal h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.cuerpo-principal a img {
    width: 350px;
}

.cuerpo-principal p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabeza-principal,
.pie-principal {
    text-align: center;
    background-color: #5499C7;
}

/* fin de los estlos del portafolio */


/* estilos del blog de alimentacion */
.cabeza-alimentacion img {
    width: 500px;
}

.cabeza-alimentacion li {
    list-style: none;
}

.cabeza-alimentacion h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cabeza-alimentacion,
.cuerpo-alimentacion,
.pie-alimentacion {
    text-align: center;
}

.cabeza-alimentacion,
.pie-alimentacion {
    background-color: rgb(255, 210, 147);
}

.cuerpo-alimentacion section img {
    width: 450px;
}

.cuerpo-alimentacion {
    background-color: bisque;
}

.cuerpo-alimentacion section {
    background-color: rgb(221, 200, 173);
}

/* fin delos estilos del blog de alimentacion */


/* estilos de contacto */

#body-contacto {
    text-align: center;
    background-color: rgb(226, 242, 255);
}

.cabeza-contacto li {
    list-style: none;
}

.cabeza-contacto,
.pie-contacto {
    background-color: aqua;
}

/* fin de los estilos a contacto */


/* estilos del blog de programacion */

#body-programacion {
    background-color: rgb(123, 233, 196);
    text-align: center;
}

.img-pro {
    width: 450px;
}

.cabeza-programacion li {
    list-style: none;
}

main h2 {
    text-align: center;
}

.cabeza-programacion h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pie-programacion,
.cabeza-programacion {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(68, 192, 151);
    text-align: center;
}

/* cuerpo-programacion img {
    width: 300px;
} */

/* fin de los etilos del blog de programacion */


/* estilos del blog de memes */

#body-memes {
    background-color: rgba(236, 244, 250, 0.966);
    text-align: center;
}

.cabeza-memes li {
    list-style: none;
}

.cabeza-memes h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pie-memes {
    background-color: rgba(227, 230, 233, 0.918);
}

.cuerpo-memes img {
    width: 400px;
}

/* fin de los estilos del blog de memes */

/* media */
@media only screen and (max-width: 500px) {
    .img-pro {
        width: 250px;
    }
}

@media only screen and (max-width: 730px) {

    .cabeza-principal {
        flex-wrap: wrap;
    }

    #Kevin {
        margin-top: 20px;
        height: 100px;
    }
}